
.chat-widget{
    position: absolute;
    right: 20px;
    bottom: 30px;
    z-index: 500;
}

.widget:hover,
.widget:focus{
    cursor: pointer;
}

.widget-chat{
    position: absolute;
    bottom: 70px;
    right: 10px;
    background-color: var(--text-color);
    border-radius: 12px;
    border: none;

    max-height: 700px;
    min-height: 400px;
    height: 70vh;

    width: 400px;

    display: grid;
    grid-template-rows: auto 1fr auto;
}

.widget-chat-false{
    display: none;
}

/* chat header */
.widget-chat-header{
    background-color: #2A3439;
    border-radius: 12px 12px 0 0;
    height: 70px;

    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 20px;
    padding: 0 20px;
}

.widget-chat-heading{
    font-size: var(--text-color);
    font-size: var(--content-size);
    font-weight: var(--font-bold-weight);
}

.widget-close-btn{
    background-color: inherit;
    border: none;
}
/* chat body */
.widget-chat-body{
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow: auto;
    align-items: center;
}


.widget-chat-top{
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.widget-chat-agentname{
    color: var(--bg-color);
    font-size: var(--h3-size);
    font-weight: var(--font-bold-weight);
}
.widget-chat-message{
    color: #999;
}


/* message */
.widget-message-box{
    width: 70%;
}
.widget-message{
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: left;
}

.widget-message-me-true{
    transform: translate(10%, 0);
    justify-content: right;
}
.widget-message-me-false{
    transform: translate(-10%, 0);
}

.widget-profile-container{
    display: flex;
    align-items: flex-end;
}

.widget-content{
    color: var(--bg-color);
    padding: 0.5rem 0.75rem;
    border-radius: 5px;
    min-height: 1rem;
}

.widget-message-me-true .widget-content{
    background-color: #2A3439;
    color: var(--text-color);
}

.widget-message-me-false .widget-content{
    background-color: #ddd;
    color: var(--bg-color);
}



/* chat bottom */
.widget-chat-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 0;
}

.widget-chat-message-input{
    color: var(--bg-color);
    font-size: var(--text-color-small);
    height: 20px;
    border: #999 solid 1px;
    border-radius: 10px;
    width: 80%;
    outline: none;

    padding: 15px 10px;
} 



/* imgs */
.widget-img-box{
    height: 50px;
    width: 50px;
}
.widget-img-box img{
    border-radius: 10000px;
}

.widget-chat-icon-box{
    height: 35px;
    width: 35px;
}
.widget-chat-icon-box img{
    border-radius: 10000px;
}

.widget-chat-top-box{
    height: 75px;
    width: 75px;
}
.widget-chat-top-box img{
    border-radius: 10000px;
}

.widget-close-btn>img{
    height: 25px;
    width: 25px;
}

.widget-profile{
    height: 25px;
    width: 25px;
}
.widget-profile img{
    border-radius: 10000px;
}
