.login{
    display: flex;
    flex-direction: row;
    /* height: 100%;
    min-height: 100vh; */
    height: 100vh;
}

.login label{
    font-size: var(--content-size);
    /* font-weight: var(--font-bold-weight); */
    line-height: var(--content-line-height);
}

.left-login{
    width: 45%;
    height: 100%;
}

.left-login-img-container{
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-login-img{
    min-width: 100%;
    min-height: 100%;
    height: auto;
    object-fit: cover;
}

.right-login{
    width: 55%;
}


/* form */
.right-login>div{
    height: 80%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    gap:30px;
}


/* signup/login form */
.login-form{
    width: 60%;
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    gap:20px;
}

.login-form>div{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.login-form>div:nth-last-child(2){
    display: flex;
    flex-direction: row;
}

.login-form input[type="text"],
.login-form input[type="email"],
.login-form input[type="password"]
{
    width: 100%;
    height: 48px;
    padding: 1rem;
    border: 0;
    box-sizing: border-box;
    border-radius: 24px;
    background-color: var(--input-placeholder-color);
    color: var(--text-color);
    font-size: var(--content-size);
    /* font-weight: var(--font-bold-weight); */
    line-height: var(--content-line-height);
    outline: none;
}

.login-form input[type="checkbox"]{
    width: 20px;
    height: 20px;
    border-radius: 5px;
}

/* text */
.heading{
    font-size: var(--h2-size);
    font-weight: var(--font-bold-weight);
    line-height: var(--h2-line-height);
    text-align: center;
}

.content{
    font-size: var(--content-size);
    /* font-weight: var(--font-bold-weight); */
    line-height: var(--content-line-height);
    text-align: center;
}
.login-form>.content-tail{
    display: block;
}

input{
    font-size: var(--content-size);
    /* font-weight: var(--font-bold-weight); */
    line-height: var(--content-line-height);
}

/* buttons */
.submit-button-block{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit-button{
    width: 220px;
    height: 40px;
    padding: 10px 10px;
    border: 0;
    box-sizing: border-box;
    border-radius: 24px;
    background-color: var(--dec-color);
    color: var(--bg-color);
    font-size: var(--content-size);
    line-height: var(--content-line-height);
    outline: none;
}



.switch-login{
    background-color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    font-size: var(--content-size);

    font-weight: 600;
    color: rgb(101, 101, 196);
}

.terms-privacy{
    display: inline;
}

.terms-privacy-btn{
    display: inline;
    background-color: inherit;
    border: none;
    color: rgb(101, 101, 196);
    font-size: var(--content-size);
    font-weight: var(--font-bold-weight);
    margin: 0;
    padding: 0;
}