/* script-page */
.homepage{
    width: 100%;
    padding: 20px 40px;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.scripts{
    width: 100%;
    height: 295px;
    overflow-x: auto; /* Add a horizontal scrollbar when content overflows */
    white-space: nowrap;
    

    display: flex;
    flex-direction: row;
    gap:20px 
}


.sp-top h2,
.sp-bottom h2{
    margin-bottom: 10px;
    font-size: var(--h2-size);
    font-weight: var(--font-bold-weight);
    line-height: var(--h2-line-height);
}

/* script */
.script{
    width: 320px;
    height: 260px;
    padding: 20px;
    background-color: var(--grey-color-dark);
    border-radius: 24px;
    
}


.script-bookmark{
    font-size: 32px;
    margin-top: -102px;
    margin-left: 243px;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    color: var(--grey-color-deep-dark);
    position: relative;
    z-index: 2;

}

.script-background-container{
    width: 283px;
    height: 112px;
    border-radius: 24px;
    
    overflow: hidden; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.script-background{
    min-width: 100%; 
    min-height: 100%;
    display: block; 
    object-fit: cover; 



    position: relative;
    z-index: 1;
}

.script-clock,
.script-star{
    font-size: 16px;
    top: 298px;
    left: 144px;
    width: 16px;
    height: 16px;
}

.script-profile{
    width: 40px;
    height: 40px;
    border-radius: 100000px;
}

.script-type{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:20px;

    width: 205px;
    height: 48px;
    margin-top: 45px;
    margin-left: 10px;

    background-color: var(--grey-color-deep-dark);
    border-radius: 24px;
    border: 1px solid var(--grey-color-dark);
    box-sizing: border-box;

    position: relative;
    z-index: 2;
}

.script-username{
    width: auto;
    /* text-align: center; */
    font-weight: var(--font-bold-weight);
}

.script-name{
    font-weight: var(--font-bold-weight);
    margin-top: 20px;
}

.script-info{
    display: flex;
    flex-direction: row;
    gap:10px;
    margin-top: 20px;
}

.script-info>div{
    display: flex;
    flex-direction: row;
    gap:10px;
}

.script-button{
    width: 100px;
    height: 36px;
    padding: 0px 15px;
    border: 0;
    box-sizing: border-box;
    border-radius: 24px;
    background-color: var(--dec-color);
    color: var(--bg-color);
    line-height: var(--content-line-height);
    outline: none;

    position: relative;
    top:-30px;
    left:180px;

}


/* history */
.sp-bottom{
    flex-grow: 1;
    overflow: auto;
}

.histories{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    height: 450px;

    /* overflow-y: auto; */
}
/* 
.histories::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.histories::-webkit-scrollbar
{
	width: 7px;
	background-color: #F5F5F5;
}

.histories::-webkit-scrollbar-thumb
{
	background-color: #333;

} */



.history{
    width: 390px;
    height: 195px;
    background-color: var(--grey-color-dark);
    border-radius: 24px;
    padding: 1rem;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
}

.history:hover,
.history:focus{
    cursor: pointer;
}

.history-info{
    width: 190px;
}

.history-img{
    width: 186px;
    height: 155px;
    border-radius: 24px;

    overflow: hidden; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.history-background{
    min-width: 100%; 
    min-height: 100%;
    display: block; 
    object-fit: cover;
}

.history-bookmark{
    font-size: 32px;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;


    margin-top: 10px;
    margin-left: 155px;
}

.history-scriptname{
    font-weight: var(--font-bold-weight);

    /* position: relative; */
    margin-top: -30px;
    margin-left: 20px;
    margin-bottom: 45px;
}

.history-date,
.history-page,
.history-gamingtime{

    line-height: var(--content-line-height);

    margin-top: 5px;
    margin-left: 10px;
    text-align: right;
}
/* 
.history-progress-bar{
    width: 352px;
    height: 8px;
    background-color: #3a3a3a;
    border-radius: 2px;

    position: relative;
    margin-top: 10px;
    margin-left: 20px;
} */

.script-next-button{
    width: 308px;
    height: 40px;
    padding: 0px 8px;
    border: 0;
    box-sizing: border-box;
    border-radius: 24px;
    background-color: #c8edfd;
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    outline: none;
    
    margin: 10px 200px 50px auto;
}