.welcome {
    position: absolute;
    width: 90vw;
    height: 90vh;
    left: 5%;
    top: 5%;
    background-color: #282828;
    border-radius: 48px;
    display: flex;
    flex-direction: row;
}


/* left part */

.left_welcome {
    width: 50%;
    height: 100%;
    background-color: transparent;
}

.left_welcome>div {
    height: 60%;
    margin-top: 20%;
    margin-left: 20%;
    margin-right: 15%;
    
    display: flex;
    /* justify-content: space-around; */
    flex-direction: column;
    justify-content: center;
    gap:40px;
}

.left_welcome div {
    color: var(--text-color);
    background-color: inherit;
}

.profile {
    display: flex;
    flex-direction: row;
    gap: 10%;
    text-align: center;
}

.profile img{
    width: 50px;
    height: 50px;
}


/* text style */
.profile span {
    margin-top: 10px;
    margin-left: -30px;
    color: var(--text-color);
    font-size: var(--h3-size);
    font-weight: var(--font-bold-weight);
    line-height: var(--h3-line-height);
    background-color: transparent;
}

.welcome-heading {
    color: var(--text-color);
    font-size: var(--h2-size);
    font-weight: var(--font-bold-weight);
    line-height: var(--h2-line-height);
    text-align: left;
    font-family: var(--font-family-title);
}

.welcome-content {
    color: var(--text-color);
    font-size: var(--content-size);
    /* font-weight: var(--font-bold-weight); */
    line-height: var(--h3-line-height);
    text-align: justify;
}


.welcome_button {
    width: 220px;
    height: 40px;
    padding: 10px 10px;
    border: 0;
    box-sizing: border-box;
    border-radius: 24px;
    background-color: var(--dec-color);
    color: var(--bg-color);
    font-size: var(--content-size);
    /* font-weight: var(--font-bold-weight);s */
    line-height: var(--content-line-height);
    outline: none;
    margin: 30px auto;
}


/* right part */
.right_welcome {
    width: 50%;
    height: 100%;
    background-color: #161616;
    border-radius: 48px;
    border: 1px solid #282828;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome_logo{
    max-width: 100%;
    max-height: 100%;
}